<h1 style="text-align: center;">Oil & Gas Data</h1>

## Install Dependepcies

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /home/user/Work/inerG/inerg/lib/python3.8/site-packages (1.3.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/user/Work/inerG/inerg/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/user/Work/inerG/inerg/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in /home/user/Work/inerG/inerg/lib/python3.8/site-packages (from pandas) (1.21.2)
Requirement already satisfied: six>=1.5 in /home/user/Work/inerG/inerg/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [2]:
!pip install xlrd

Requirement already satisfied: xlrd in /home/user/Work/inerG/inerg/lib/python3.8/site-packages (2.0.1)

In [3]:
import pandas as pd

In [4]:
import os

In [5]:
os.listdir('./data/')

['.ipynb_checkpoints',
 '20210309_2020_1 - 4.xls',
 'aggregated_annual_data_2020.csv']

## Load Data to a a pandas DataFrame

In [6]:
df = pd.read_excel('./data/20210309_2020_1 - 4.xls', sheet_name="Sheet1")

In [7]:
df.head()

,API WELL NUMBER,Production Year,"QUARTER 1,2,3,4",OWNER NAME,COUNTY,TOWNSHIP,WELL NAME,WELL NUMBER,OIL,GAS,BRINE,DAYS
0,34013209230000,2020,1,ANTERO RESOURCES CORPORATION,BELMONT,KIRKWOOD,HORSESHOE UNIT 1H,1H,0,0,0,91
1,34059243520000,2020,1,ANTERO RESOURCES CORPORATION,GUERNSEY,MILLWOOD,J HALL UNIT 10H,10H,1,32293,55,91
2,34059242550000,2020,1,ANTERO RESOURCES CORPORATION,GUERNSEY,MILLWOOD,J ANDERSON 2H,2H,92,27276,242,91
3,34059242540000,2020,1,ANTERO RESOURCES CORPORATION,GUERNSEY,MILLWOOD,J ANDERSON 3H,3H,103,28393,254,91
4,34059242560000,2020,1,ANTERO RESOURCES CORPORATION,GUERNSEY,MILLWOOD,J ANDERSON 4H,4H,107,31521,255,91

In [8]:
df[df['API WELL  NUMBER']== 34013209230000]

,API WELL NUMBER,Production Year,"QUARTER 1,2,3,4",OWNER NAME,COUNTY,TOWNSHIP,WELL NAME,WELL NUMBER,OIL,GAS,BRINE,DAYS
0,34013209230000,2020,1,ANTERO RESOURCES CORPORATION,BELMONT,KIRKWOOD,HORSESHOE UNIT 1H,1H,0,0,0,91
2574,34013209230000,2020,2,ANTERO RESOURCES CORPORATION,BELMONT,KIRKWOOD,HORSESHOE UNIT 1H,1H,0,0,0,91
5217,34013209230000,2020,3,ANTERO RESOURCES CORPORATION,BELMONT,KIRKWOOD,HORSESHOE UNIT 1H,1H,0,0,0,92
7905,34013209230000,2020,4,ANTERO RESOURCES CORPORATION,BELMONT,KIRKWOOD,HORSESHOE UNIT 1H,1H,0,0,0,92

## Groupy and Aggregate the Data

In [9]:
grouped_df = df.groupby(['API WELL  NUMBER', 'Production Year'])
grouped_df.head()

,API WELL NUMBER,Production Year,"QUARTER 1,2,3,4",OWNER NAME,COUNTY,TOWNSHIP,WELL NAME,WELL NUMBER,OIL,GAS,BRINE,DAYS
0,34013209230000,2020,1,ANTERO RESOURCES CORPORATION,BELMONT,KIRKWOOD,HORSESHOE UNIT 1H,1H,0,0,0,91
1,34059243520000,2020,1,ANTERO RESOURCES CORPORATION,GUERNSEY,MILLWOOD,J HALL UNIT 10H,10H,1,32293,55,91
2,34059242550000,2020,1,ANTERO RESOURCES CORPORATION,GUERNSEY,MILLWOOD,J ANDERSON 2H,2H,92,27276,242,91
3,34059242540000,2020,1,ANTERO RESOURCES CORPORATION,GUERNSEY,MILLWOOD,J ANDERSON 3H,3H,103,28393,254,91
4,34059242560000,2020,1,ANTERO RESOURCES CORPORATION,GUERNSEY,MILLWOOD,J ANDERSON 4H,4H,107,31521,255,91
...,...,...,...,...,...,...,...,...,...,...,...,...
10622,34013206530000,2020,4,XTO ENERGY INC.,BELMONT,MEAD,KALDOR 2H,2H,0,0,0,0
10623,34013207890000,2020,4,XTO ENERGY INC.,BELMONT,WASHINGTON,PAVICH UNIT 5H,5H,0,209581,3843,92
10624,34111245640000,2020,4,XTO ENERGY INC.,MONROE,SWITZERLAND,MONROE NORTH UNIT C 2H,2H,0,240618,2104,92
10625,34111243650100,2020,4,XTO ENERGY INC.,MONROE,SWITZERLAND,MONROE NORTH UNIT 2H,2H,0,45501,820,11
10626,34111243660000,2020,4,XTO ENERGY INC.,MONROE,SWITZERLAND,MONROE NORTH UNIT 1H,1H,0,0,0,0

In [10]:
df.columns

Index(['API WELL  NUMBER', 'Production Year', 'QUARTER 1,2,3,4', 'OWNER NAME',
       'COUNTY', 'TOWNSHIP', 'WELL NAME', 'WELL NUMBER', 'OIL', 'GAS', 'BRINE',
       'DAYS'],
      dtype='object')

In [11]:
agg_df = grouped_df.agg({
    'OWNER NAME': 'first',
    'COUNTY': 'first',
    'TOWNSHIP': 'first',
    'WELL NAME': 'first',
    'WELL NUMBER': 'first',
    'OIL': 'sum',
    'GAS': 'sum',
    'BRINE': 'sum',
}).reset_index()
agg_df

,API WELL NUMBER,Production Year,OWNER NAME,COUNTY,TOWNSHIP,WELL NAME,WELL NUMBER,OIL,GAS,BRINE
0,34013205830000,2020,DIVERSIFIED PRODUCTION LLC,BELMONT,WASHINGTON,BOAN/MARCUM 2-1,2-1,0,0,0
1,34013206190000,2020,ASCENT RESOURCES UTICA LLC,BELMONT,RICHLAND,PORTERFIELD GAS UNIT B 1H-17,1H-17,0,0,0
2,34013206200000,2020,ASCENT RESOURCES UTICA LLC,BELMONT,RICHLAND,PORTERFIELD GAS UNIT A 1H-17,1H-17,0,0,0
3,34013206530000,2020,XTO ENERGY INC.,BELMONT,MEAD,KALDOR 2H,2H,240,6923,225
4,34013206540100,2020,XTO ENERGY INC.,BELMONT,MEAD,KALDOR 1H,1H,0,147097,2511
...,...,...,...,...,...,...,...,...,...,...
2718,34167297320100,2020,DIVERSIFIED PRODUCTION LLC,WASHINGTON,SALEM,MERLIN 10PPH,10PPH,999,256092,6448
2719,34167297570100,2020,PIN OAK ENERGY PARTNERS LLC,WASHINGTON,FEARING,CAYWOOD A 1H,1H,0,413342,8510
2720,34167297590000,2020,UTICA RESOURCE OPERATING LLC,WASHINGTON,WATERFORD,MASON 4H,4H,3286,79188,1028
2721,34167297610100,2020,UTICA RESOURCE OPERATING LLC,WASHINGTON,WATERFORD,MASON 2H,2H,3574,68950,1388
2722,34169256690100,2020,GEOPETRO LLC,WAYNE,EAST UNION,HERSHBERGER 1H,1H,175,62210,127

## Validate the results

In [12]:
df[df['API WELL  NUMBER']== 34059242540000]

,API WELL NUMBER,Production Year,"QUARTER 1,2,3,4",OWNER NAME,COUNTY,TOWNSHIP,WELL NAME,WELL NUMBER,OIL,GAS,BRINE,DAYS
3,34059242540000,2020,1,ANTERO RESOURCES CORPORATION,GUERNSEY,MILLWOOD,J ANDERSON 3H,3H,103,28393,254,91
2585,34059242540000,2020,2,ANTERO RESOURCES CORPORATION,GUERNSEY,MILLWOOD,J ANDERSON 3H,3H,166,26773,269,91
5218,34059242540000,2020,3,ANTERO RESOURCES CORPORATION,GUERNSEY,MILLWOOD,J ANDERSON 3H,3H,50,27136,286,91
7910,34059242540000,2020,4,ANTERO RESOURCES CORPORATION,GUERNSEY,MILLWOOD,J ANDERSON 3H,3H,62,25772,130,92

In [13]:
agg_df.loc[agg_df['API WELL  NUMBER']== 34059242540000]

,API WELL NUMBER,Production Year,OWNER NAME,COUNTY,TOWNSHIP,WELL NAME,WELL NUMBER,OIL,GAS,BRINE
1179,34059242540000,2020,ANTERO RESOURCES CORPORATION,GUERNSEY,MILLWOOD,J ANDERSON 3H,3H,381,108074,939

## Save Aggregated Data to csv for Future Reference

In [14]:
agg_df.to_csv('./data/aggregated_annual_data_2020.csv', encoding='utf-8', index=False)

---

## Load Data to SQLite Database

In [15]:
import sqlite3 as sql

In [23]:
conn = sql.connect('./data/oil_and_gas.db')
agg_df.to_sql('annual_report_2020', conn, index=False)

## Validate data from SQLite

In [24]:
annual_report = pd.read_sql('SELECT * FROM annual_report_2020', conn)

In [25]:
annual_report.head()

,API WELL NUMBER,Production Year,OWNER NAME,COUNTY,TOWNSHIP,WELL NAME,WELL NUMBER,OIL,GAS,BRINE
0,34013205830000,2020,DIVERSIFIED PRODUCTION LLC,BELMONT,WASHINGTON,BOAN/MARCUM 2-1,2-1,0,0,0
1,34013206190000,2020,ASCENT RESOURCES UTICA LLC,BELMONT,RICHLAND,PORTERFIELD GAS UNIT B 1H-17,1H-17,0,0,0
2,34013206200000,2020,ASCENT RESOURCES UTICA LLC,BELMONT,RICHLAND,PORTERFIELD GAS UNIT A 1H-17,1H-17,0,0,0
3,34013206530000,2020,XTO ENERGY INC.,BELMONT,MEAD,KALDOR 2H,2H,240,6923,225
4,34013206540100,2020,XTO ENERGY INC.,BELMONT,MEAD,KALDOR 1H,1H,0,147097,2511

In [26]:
annual_report.loc[annual_report['API WELL  NUMBER']== 34059242540000]

,API WELL NUMBER,Production Year,OWNER NAME,COUNTY,TOWNSHIP,WELL NAME,WELL NUMBER,OIL,GAS,BRINE
1179,34059242540000,2020,ANTERO RESOURCES CORPORATION,GUERNSEY,MILLWOOD,J ANDERSON 3H,3H,381,108074,939

---